@keyframes cardAnimation {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    20% {opacity: 0.4;}
    40% {opacity: 0.6;}
    60% {opacity: 0.8;}
    100% {opacity: 1;}
}

.achievements-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation-name: cardAnimation;
    animation-duration: 2s;
}

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px none black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(68, 76, 247, 0.75);
    box-shadow: 0 4px 15px 10px rgba(116, 79, 168, 0.75);
    border-radius: 2em;
}

@media screen and (max-width: 770px) {
    .container {
        margin-top: 2.5em;
    }
}

.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: white;
    width: 50%;
    border: 1px solid white;
    margin: 2rem auto;
    opacity: 1;
    /* min-height: 500px; */
}

.card-header {
    /* color: white; */
    font-size: 3em;
    font-weight: 800;
    font-family: sans-serif;
    line-height: 1em;
    text-align: center;
    word-wrap: break-word;
    background-color: white !important;
}

.card-description-list {
    list-style: none;
}

.card-description:before { content: '\27A1'; margin-left: -20px; 
    margin-right: 10px; text-decoration: none;
} 

.card-description {
    color: #2D3748;
    font-family: "Inter", sans-serif;
    font-stretch: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
}

.certificate-button {
    display: flex;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1.25rem;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    height: 2.5rem;
    color: white;
    background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  border-radius: 2em;
}

.certificate-button:hover {
    transition: all .4s ease-in-out;
}

